.search{
    width: 45vw;
    min-width: 180px;
    order: 2;
}
.search input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--gray-color-dark);
    background-color: var(--white-color);
    border: 0;
    width: 40%;
    min-width: 150px;
    padding: 10px 8px;
    outline: none;
}
.search button{
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--gray-color-dark);
    background-color: var(--white-color);
    border-left: 0;
    padding: 10px 8px;
    outline: none;
    margin-left: -5px;
}
.header-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color: var(--black-color);
}
.header-title h1{
    margin-bottom: 20px;
    /* font-size: 3rem; */
}
.header-title .line{
    display: inline-block;
    min-width: 100px;
    width: 10%;
    border-top: 1px solid var(--gray-color-dark);
    margin-bottom: 20px;
}
.header-title p >span{
    color: var(--orange-color);
    /* font-size: 35px; */
}
.header-title a{
    padding: 10px 15px;
    background-color: var(--orange-color);
    border-radius: 5px;
    color: var(--black-color);
    margin-top: 20px;
    /* font-size: 25px; */
}
main{
    width: 90%;
    margin: 30px auto;
}
.filter{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 10px;
    color: var(--gray-color-dark);
    font-size: 1.5rem;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.filter div{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.filter button{
    color: var(--gray-color-dark);
    font-size: 1.5rem;
    padding: 5px 7px;
    border: 1px solid var(--gray-color);
    outline: none;
    background-color: transparent;
    border-radius: 0;
}
.filter select{
    border: 1px solid var(--gray-color);
    padding: 7px 26px 7px 9px;
    color: var(--gray-color-dark);
    font-size: 1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/select-arrow.png");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 1rem;
    background-color: #fff;
    width: 200px;
    min-width: auto;
}
.filter select{
    border: 1px solid var(--gray-color);
    padding: 7px 26px 7px 9px;
    color: var(--gray-color-dark);
    font-size: 1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/select-arrow.png");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 1rem;
    background-color: #fff;
    width: 200px;
    min-width: auto;
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}
.card{
    height: 350px;
    width: 250px;
}
.cards-container:has(.card-list-view){
    justify-content: space-evenly;
}
.card-list-view{
    min-width: 480px;
    height: auto;
    >a{
        display: flex;
        gap: 20px;
        >img{
            width: 200px;
            height: 200px;
        }
        >div {
            width: calc(100% - 220px);
            >p{
                display: block;
                margin-bottom: 15px;
            }
        }
    }
}
.card-list-view .card-button{
    justify-content: space-between;
    margin-left: auto;
    width: calc(100% - 220px);
    margin-top: -40px;
}
.card img{
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
.card h3{
    font-size: 1.2rem;
    color: var(--blue-color);
    margin: 8px 0;
}
.card p{
    display: none;
}
.card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
.card-footer >span{
    font-weight: 600;
}
.rate{
    color: var(--orange-color);
}
.card-button{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.card-button .counter{
    display: flex;
    >input{
        width: 40px;
        background-color: transparent;
        border: 1px solid var(--gray-color);
        border-left: none;
        border-right: none;
        outline: none;
        text-align: center;
        -moz-appearance: textfield;
    }
    >input::-webkit-outer-spin-button,
    >input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.card-button button{
    border-radius: 0;
    border: 1px solid var(--gray-color);
    font-size: 1rem;
    padding: 10px 15px;
}
.pagenation{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pagenation .page{
    border-radius: 0;
    border: 1px solid var(--gray-color);
}
.pagenation .control{
    border-color: var(--blue-color);
    background-color: var(--blue-color);
    color: var(--white-color);
}

/* ======================================================= */
.cont-carousel{
    margin:  50px;
}
.cont-carousel h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;

}
.cont-carousel h2  span{

    border: solid var(--blue-color);
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--gray-color-dark);
    box-shadow: 10px 10px 10px var(--gray-color);
    font-size: 30px;
    font-weight: 700;

}

.owl-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    margin: 70px 0px;
}


.item{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 0px 15px;
    border: solid 1px  gray;
    border-radius: 10px;

}
.carsule-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 14px;
}

.item img{
    height: 200px;
    object-fit: contain;
}

.star{
    color: #FBA104;
    
}

@media (max-width:1100px) {
    .card-list-view{
        width: 90%;
    }
}

@media (max-width:600px) {
    .card-list-view{
        width: 90%;
    }
    .filter >div{
        display: none;
    }
}

@media (max-width:768px) {
    .hero-section{
        height: 400px;
    }
    .header-title{
        text-align: center;
        align-items: center;
        
    }
    .right{
        display: none;
    }
}

@media (max-width:480px) {

    /*===================== Search =====================*/

    .search input{
        width: 35%;
        padding: 8px;
    }
    .search button{
        padding: 8px;
        margin: -8px;
    }

    /*=================== Search end ===================*/
}